.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      color: #5b7065;
      border: 1px solid #5b7065;
      text-align: center;
      align-self: center;
      width: 45px;
      height: 45px;
      line-height: 42px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #5b7065;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #5b7065;
        color: #fff;
      }
    }
  }
}
