$black: #232323;
$background: #ffdf8c;
$background2: #33333388;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

// blue
$color1: #66b2ff;
$color2: #132f4c;
$color3: #5090d3;
$color4: #6f7e8c;
$color5: #0a1929;
$color6: #656c85cc;
$color7: #ebedf0;
$color8: #90caf9;
$color9: #42a5f5;
$color11: #f44336;
$color12: #0288d1;
$color13: #388e3c;
$color14: #3399ff3d;
$color16: #ffffff;
$color17: #002c54;
$color18: #1e4976;
$color19: #99ccf3;

// red
$color111: #ce5a57;
$color112: #1e4976;

// Misty greens
$color20: #04202c;
$color21: #304040;
$color22: #5b7065;
$color23: #c9d1c8;
